.headblock{
   /* background-color: #7C9EC5; */
   background-color: white;
}

.headGridBlock{
   padding: 4rem 2rem;
   /* background-color: #7C9EC5; */
   color: black;

}
.countblock{
   margin-top: 3rem;
   height: 6rem;
   /* background-color: #B7CBE1; */
   justify-content: center;
   align-items: center;
   display: -webkit-flex;
}

.count {
   font-size: 2.5rem;
   /* color: #377dff; */
   /* color: white; */
}

.menublock{
   margin-top: 3rem;
   justify-content: center;
   align-items: center;
   display: -webkit-flex;
}
* {
    font-size: 12px;
    font-family: Verdana, 宋体;
 }
/*
 html,
 body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
 } */

 .b {
    margin: 0px;
    padding: 0px;
    overflow: auto;
 }

 .line0 {
    line-height: 20px;
    background-color: white;
    padding: 0px 15px;
 }

 .line1 {
    line-height: 18px;
    background-color: white;
    padding: 0px 10px;
 }

 .w{
   width:100px;
   height:240px;
   z-index: 1000;
   position: fixed;;
   right:20px;
   margin-top: -35px;
   top: 50%;
   /* bottom:10px;
   overflow:hidden;
   border:0px groove #281;
   cursor:default;
   -moz-user-select:none; */
 }
 /* .w{
   position:absolute;
   right:10px;
   bottom:10px;
   width:100px;
   height:240px;
   overflow:hidden;
   border:0px groove #281;
   cursor:default;
   -moz-user-select:none;
 } */
 /* .w {
    position: relative;
    right: 10px;
    left: 10px;
    bottom: 100px;
    width: 100px;
    height: 200px;
    overflow: hidden;
    border: 0px groove white;
    cursor: default;
    -moz-user-select: none;
 } */

 .t {
    line-height: 0px;
    height: 50px;
    /* width: 160px; */
    overflow: visible;
    background-color: white;
    /* color: black; */
    font-weight: bold;
    border-bottom: 1px outset white;
    text-align: left;

 }
 /* .t {
    line-height: 20px;
    height: 20px;
    width: 100px;
    overflow: hidden;
    background-color: white;
    color: white;
    font-weight: bold;
    border-bottom: 1px outset white;
    text-align: left;
 } */

 .winBody {
    height: 110px;
    width: 100px;
    overflow-x: auto;
    overflow-y: auto;
    border-top: 0px inset white;
    padding: 0px;
    /* text-indent: 10px; */
    background-color: white;
 }